<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smcl.com.brunopera.smartclinica">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Idade"
            android:label="@string/title_activity_idade"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Aniversario"
            android:label="@string/title_activity_aniversario"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EstadoCivil"
            android:label="@string/title_activity_estado_civil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Endereco"
            android:label="@string/title_activity_endereco"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Bairro"
            android:label="@string/title_activity_bairro"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Cidade"
            android:label="@string/title_activity_cidade"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CEP"
            android:label="@string/title_activity_cep"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Telefone"
            android:label="@string/title_activity_telefone"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Celular"
            android:label="@string/title_activity_celular"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profissao"
            android:label="@string/title_activity_profissao"
            android:theme="@style/AppTheme" />
        <activity android:name=".Medicamentos" />
        <activity android:name=".Orteses"></activity>
    </application>

</manifest>